<!doctype html>
<html>
<head>
	<title>DB Interaction</title>
	<link rel="stylesheet" href="styles.css">
	
</head>
<body>
	<h3>Gunnar Martin - CS290 - Winter 2016</h3>
	<h3>Assignment: DB Interactions</h3>
	{{{body}}}
</body>
</html>