<h1>Workout Table</h1>

<table id="dataTable" class="myTable">

	<!-- HEADER ROW -->
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>LBs</th>
		<th colspan="2">Action</th>
	</tr>
	
	<!-- ADD NEW DATA ROW -->
	<tr>
		<form action="javascript:void(0);">
		
			<td><input id="input_name" type="text" name="name" required></td>
			<td><input id="input_reps" type="number" name="reps"></td>
			<td><input id="input_weight" type="number" name="weight"></td>
			<td><input id="input_date" type="date" name="date"></td>
			<td><input id="input_lbs" type="number" name="lbs" min="0" max="1"></td>
			
			<td colspan="2">
				
				<!-- <button id="addButton" type="button">(ADD!)</button> -->
				<input id="addButton" type="submit" value="Add Row"/>
				<!-- <button id="addButton" type="button" onclick="addClick()">(ADD!)</button> -->
			</td>
			
		</form>

	</tr>
	
	
</table>

<p id="testData"></p>
<script src="helper.js"></script>