<h1>Workout Table</h1>
<p>Here we go!</p>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>LBs</th>
	</tr>
	{{#each dArray}}
		<th>this.id</th>
		<th>this.name</th>
		<th>this.reps</th>
		<th>this.weight</th>
		<th>this.date</th>
		<th>this.lbs</th>
	{{/each}}

</table>

